body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(../../Imagens/manarola-italy-building-hdr-wallpaper-preview.jpg); /* Adicione uma imagem de fundo estilizada */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background 3s ease;
}

.morning {
    background-image: url(../../Imagens/pikachu.jpg); /* Imagem de fundo para a manhã */
}

.afternoon {
    background-image: url(../../Imagens/fim-de-tarde-na-praia_3378_800x600.jpg); /* Imagem de fundo para a tarde */
}

.evening {
    background-image: url(../../Imagens/tira-grecia-montanhas-natureza-imagem-de-fundo.jpg); /* Imagem de fundo para a noite */
    color: #fff;
}

.night {
    background-image: url(../../Imagens/Coast_Italy_Houses_Sea_482252_1920x1080.jpg); /* Imagem de fundo para a noite */
    color: #fff;
}

.clock-container {
    text-align: center;
}
.clock {
    width: 300px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease;
    background-color: transparent;
}

.time {
    font-size: 72px;
    color: #000000;
    animation: pulse 1.5s ease infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.5s ease;
}

.time {
    font-size: 72px;
    color: #000000;
    animation: pulse 1.5s ease infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.5s ease;
}

.date {
    font-size: 24px;
    margin-top: 20px;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}