/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilos do tabuleiro */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-top: 20px;
}

.board div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos da célula vencedora */
.winner-cell {
    background-color: #4CAF50;
    color: #fff;
    animation: winnerHighlight 1s alternate infinite;
}

@keyframes winnerHighlight {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Estilos do placar */
.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.player-score {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos do temporizador */
.timer {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilos do botão Reiniciar */
#reset {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilos de status */
#status {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}