*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
    width: 320px;
}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    border: 2px solid #333;
}

.cell:hover {
    background-color: #f0f0f0;
}

#status {
    font-size: 24px;
    color: #333;
}

#score {
    font-size: 18px;
    color: #777;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

#reset:hover {
    background-color: #291f1f;
}