*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(255, 4, 4, 0.8);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: rgb(215, 215, 215);
}

.botao:hover{
    background-color: red;
}

#resultado{
    width: 207px;
    background-color: rgb(31, 31, 31);
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 5px;
}